a(name="content")
main 
     section.sample  
          button.buy_button Замовити
          section.card_info
               p Кількість контейнерів :3
               p Максимальна вага: 3 тонни
               p Швидкість доставки: швидко
     section.sample
          button.buy_button Замовити
          section.card_info
               p Кількість контейнерів :3
               p Максимальна вага: 3 тонни
               p Швидкість доставки: швидко
     section.sample
          button.buy_button Замовити
          section.card_info
               p Кількість контейнерів :3
               p Максимальна вага: 3 тонни
               p Швидкість доставки: швидко
     section.sample
          button.buy_button Замовити
          section.card_info
               p Кількість контейнерів :3
               p Максимальна вага: 3 тонни
               p Швидкість доставки: швидко
     a(name="new_cargo")
     section.create_but
          button.buy_button_sample Створити шаблон
