a(name = "footer")
footer
    article.article_footer
        div.logo_text
            div.logo
                a(href='#') 
                    h3 Морські Перевезення
                    img(src=require('./images/shipping.jpg') alt="Ship").logo_img_footer
        nav.footer_menu
            h3 Послуги
            a Про нас
            a Контакти
        div.address
            h3 Контакти
            p ship@gmail.com
            p +380992222222
            p Київ, вул. Хрещатик 25
        nav.footer_menu
            h3 Соціальні Мережі
            a(href="facebook.com") Facebook
            a(href="twitter.com") Twitter
            a(href="instagram.com") Instagram
            a(href="Linkedin.com") Linkedin