a(name = "footer")
footer
    article.article_footer
        div
            div
                a(href='#') 
                    span Морські
                    span Вантажні
                    span Перевезення
        nav
            h3 Послуги
            a Про нас
            a Контакти
        div
            h3 Контакти
            p ship@gmail.com
            p +380992222222
            p Київ, вул. Хрещатик 25
        nav
            h3 Соціальні
            a(href="facebook.com") Facebook
            a(href="twitter.com") Twitter
            a(href="instagram.com") Instagram
            a(href="Linkedin.com") Linkedin